<app-navigation></app-navigation>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="competence.component.css">
    <title>Skills</title>
</head>
<body>
    <div class=" align-items-center t">
        <h1 class=" text-uppercase  tt" >Compétences<span><h1> techniques</h1></span></h1>
    </div>
    <div class="skill-bars">
        <div class="bar">
          <div class="info">
            <span>{{c.h}}</span>
          </div>
          <div class="progress-line {{c.h}}">
            <span></span>
          </div>
        </div>
        <div class="bar">
          <div class="info">
            <span>{{c.cs}}</span>
          </div>
          <div class="progress-line {{c.cs}}">
            <span></span>
          </div>
        </div>
        <div class="bar">
          <div class="info">
            <span>{{c.js}}</span>
          </div>
          <div class="progress-line {{c.js}}">
            <span></span>
          </div>
        </div>
        <div class="bar">
          <div class="info">
            <span> {{c.aj}}</span>
          </div>
          <div class="progress-line {{c.aj}}">
            <span></span>
          </div>
        </div>

        <div class="bar">
          <div class="info">
            <span>{{c.p}}</span>
          </div>
          <div class="progress-line {{c.p}}">
            <span></span>
          </div><br>
          <div class="info">
            <span>{{c.b}}</span>
          </div>
          <div class="progress-line {{c.b}}">
            <span></span>
          </div>
        </div>
        <div class="bar">
          <div class="info">
            <span>{{c.d}}</span>
          </div>
          <div class="progress-line {{c.d}}">
            <span></span>
          </div>
        </div>
        <div class="bar">
          <div class="info">
            <span>{{c.c}}</span>
          </div>
          <div class="progress-line {{c.c}}">
            <span></span>
          </div>
        </div>
        <div class="bar">
          <div class="info">
            <span>{{c.j}}</span>
          </div>
          <div class="progress-line {{c.j}}">
            <span></span>
          </div>
        </div>
        <div class="bar">
          <div class="info">
            <span>{{c.m}}</span>
          </div>
          <div class="progress-line {{c.m}}">
            <span></span>
          </div>
        </div>
        </div>


<br><br>
        <div class=" align-items-center">
          <h1 class=" text-uppercase  tt" >Compétences<span><h1> linguistique</h1></span></h1>
      </div>
      <div class="skill-bars">
          <div class="bar">
            <div class="info">
              <span>{{c.la}}</span>
            </div>
            <div class="progress-line {{c.la}}">
              <span></span>
            </div>
          </div>
          <div class="bar">
            <div class="info">
              <span>{{c.lf}}</span>
            </div>
            <div class="progress-line {{c.lf}}">
              <span></span>
            </div>
          </div>
          <div class="bar">
            <div class="info">
              <span>{{c.lan}}</span>
            </div>
            <div class="progress-line {{c.lan}}">
              <span></span>
            </div>
            
          </div>
          <div class="bar">
            <div class="info">
              <span>{{c.lal}}</span>
            </div>
            <div class="progress-line {{c.lal}}">
              <span></span>
            </div>
            
          </div>
          </div>
      
    
</body>
</html>