<app-navigation></app-navigation>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stage.component.css">
    <title>Document</title>
    <script>
        $(".white-box").hover(function() {
  
  $(".cc").css("background-color","white");
  
}, function() {
  
  $(".cc").css("background-color","white");
  
});
    </script>
</head><!--
<body style="background-color: #edd1ed;">
   
    <div class=" main">
      
    
 
        <div class="cc">
            <div class="white-box">
              
            
              
              <div  class="col-sm-6 py-2" id="box1">
                <table border="0">
                    <tbody *ngFor="let sta of tabS">
                        <tr><h4 class="font-weight-bold mb-2"><b class="tt" style="list-style-type:circle;">{{sta.typs.nomT}}</b></h4></tr><br>
                        <tr><small><h6 class="mb-2"><b>{{sta.lieuS}}</b> | {{sta.moisS}}</h6></small></tr> 
                        <tr><small><h6 class="mb-2">{{sta.sujetS}}</h6></small></tr> 
                        <tr><small><h6 class="mb-2"><b>Technologies utilisées:</b> {{sta.techS}}</h6></small></tr> 
                    </tbody>

                </table>
              </div>
            </div>
          
        </div>
       
    </div>
    
    
 
</body>
-->
</html >

    

